body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form {
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
textarea,
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #33bb18;
}

h2 {
    margin-top: 20px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.review {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #d30c0c;
    border-radius: 5px;
    background-color: #11878b;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
